<div class="row">
  <div class="col-md-4">
    <%= link_to "<i class='fa fa-arrow-left'></i> #{t('previous')}".html_safe, "?start_date=#{url_encode(start_date - 7.days)}", class: 'btn btn-default' %>
  </div>

  <div class="col-md-4">
    <div class="form-group">
      <input type="text" id="date-navigator-input" class="form-control" placeholder="<%= t('choose_date') %>"/>
    </div>
  </div>

  <div class="col-md-4 to-right">
    <%= link_to "<i class='fa fa-arrow-right'></i> #{t('next')}".html_safe, "?start_date=#{url_encode(end_date + 1.days)}", class: 'btn btn-default' %>
  </div>
</div>