/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";
@import "AdminLTE/AdminLTE";
@import "AdminLTE/skins/skin-blue";
@import "dataTables/jquery.dataTables";
@import "dataTables/bootstrap/3/jquery.dataTables.bootstrap";
@import "bootstrap-datepicker3";

.navbar-nav > .user-menu > .dropdown-menu > li.user-header {
  height: auto;
}

.actions-bar {
  margin: 10px 0;
}

#error_explanation {
  color: $alert-danger-text;
  background-color: $alert-danger-bg;
  width: auto;
  border: 0;
  border-radius: 5px;
  padding: 10px;

  h2 {
    background: transparent;
    color: $alert-danger-text;
    font-weight: bolder;
  }
}

.field_with_errors {
  background-color: transparent;
  display: block;
  color: $alert-danger-text;

  input {
    border-color: $alert-danger-text;
  }
}

table {
  .actions-list {
    a {
      margin: 0 5px 0 0;
    }
  }
}

.dataTables_wrapper .dataTables_paginate .paginate_button {
  padding: 0;
  margin: 0;
}

.to-right {
  text-align: right;
}

form {
  input, input[type='radio'] {
    &.error {
      border-color: $alert-danger-text;
    }
  }

  label {
    &.side-error {
      margin-left: 10px;
      color: $alert-danger-text;
      font-size: small;
    }
  }
}